*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header {
background-color: #F9F9F9;
display: flex;
}

.main__photo{
    width: 515px;
    height: 500px;
    padding-top: 100px;
}

.header__text {
    padding: 150px 100px 0 100px;
    text-align: right;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    justify-content: left;
    font-size: 40px;
}

.header__button {
   text-align: center;

   width: 280px;
   height: 56.47px;    
   padding-top: 16px;
   background-color: #156DBF;
   margin: 50px 0 0 500px;
}

.header__button a{
    text-decoration: none;
}

.button__text{ 
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.header__button:hover {
    background-color: #C52136;

}

.header__subtext{
    padding-top: 35px;
    padding-left: 165px;

    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: rgb(39, 38, 38);
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}

/*Main*/

.main__text {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    padding: 50px 0 20px 100px;
}

.section {
    background-color: #F9F9F9;
    padding-top: 50px;
    width: 100%;
    padding-left: 150px;
    font-family: 'Montserrat', sans-serif;
}

.line__one{
    display: flex;
}

.content__name{
    font-weight: 700;
    font-size: 18px;

    padding-bottom: 30px;
}

.content__text {
    color: rgb(39, 38, 38);
    text-align: left;

    padding-left: 31px;
    padding-top: 25px;
}

