html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li, 
figure,
figcaption,
blockquote,
dl,
dd{
    margin: 0;
}

ul[class]{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select{
    font: inherit;
}
a{
    text-decoration: none;
}

/*Header*/

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header {
    max-width: 1920px;
    min-height: 795px;
    max-height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;  

    color: white;
  }

.main_logo{
    padding-top: 40px;
    text-align: center;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1{
    padding-top: 317px;

    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.Scroll {
    padding-top: 220px;
}

/*Nav*/

nav{
    padding: 20px 0 20px 0;
    align-items: center;
}

.nav_logo{
    margin-left: 250px;
}

.link{
    text-transform: uppercase;
}

.menu_list{
    display: flex;
    list-style-type: none;
}

.Menu_link{
    margin-right: 48px;

    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #48555B;
    font-size: 12px;
}

.Menu_link:hover{
    color: #00A4E5;
}